*, *::before, *::after {
  box-sizing: border-box;
}
body {
  background-color: #727272;
  font-family: 'Source Code Pro', monospace;
}
.wrapper {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin-bottom: 0;
  font-weight: 900;
  transition: all 1s;
}
h2 {
  font-weight: 600;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}
h3 {
  margin-bottom: 0;
  padding: 0 20px;
  align-self: flex-start;
  text-shadow: 0 0 10px #fff;

  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 3s;
}
h5 {
  font-weight: 400;

}
.url-list {
  transition: all 5s;
  padding: 15px 15px;
  min-width: 800px;
  max-width: 800px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border: 1px solid #525252;
  border-radius: 8px;
}
.url-list:hover {
  transition: all 0.2s;
  box-shadow: inset 0 0 14px #424242;
}
.url-item {
  margin-bottom: 5px;
  flex: 1 0 25%;
  text-align: center;
}
.url-link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #424242;
  line-height: 1;
  font-size: 18px;
}
.url-link:hover {
  background-color: #828282;
  border-radius: 5px;
  color: aliceblue;
  transition: all 0.5s;
}
